<article class="requirement">
  <div class="title">
    <a href="/requirement/{{requirement_id}}">{{title}}</a>
  </div>
  <div class="meta">
    {{user.username}} created on {{format_date created_at}}
    |
    <a href="/requirement/{{requirement_id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
  <br/>
</article>