<article class="requirement">
  <div class="title">
    <a href="{{requirement_url}}" target="_blank">{{title}}</a>
    <span>({{format_url requirement_url}})</span>
  </div>
  <div class="meta">
    {{contributor_count}} {{format_plural "point" contributor_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/requirement/{{requirement_id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>