<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Requirement
  </h2>
  <form class="edit-requirement-form">
    <div>
      <input name="requirement-title" type="text" value="{{requirement.title}}" />
      <span>({{format_url requirement.requirement_url}})</span>
    </div>
    <div>
      {{requirement.contributor_count}} {{format_plural "point" requirement.contributor_count}} by you on {{format_date requirement.created_at}}
      |
      <a href="/post/{{requirement.requirement_id}}">{{requirement.comments.length}} {{format_plural "comment" requirement.comments.length}}</a>
    </div>
    <button type="submit">Save Requirement</button>
    <button type="button" class="delete-requirement-btn">Delete Requirement</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{> comments requirement.comments}}

<script src="/javascript/edit-requirement.js"></script>
<script src="/javascript/delete-requirement.js"></script>
<script src="/javascript/comment.js"></script>